<% # Here is where we Ajaxify %>
<% # Anyone can browse. If session -> SI $ SU option in nav bar else SO %>
<% # Will have a quick search bar, location, interest %>

<h1>Search</h1>
<% # Form? %>

<h1>Location</h1>
<% # renders list of location to click %>
<% # when location clicked -> render trailers of tours from that place %>
<% # trailer redirects to 'tour/:id' %>

<h1>Interest</h1>
<% # renders list of interests to click %>
<% # when clicked -> render trailers of tours with same interest %>
<% # trailer redirects to 'tour/:id' %>



