<% # This is for the home page of the app -> '/' %>
<% # Users can log in here %>
<% # There will be a Nav Bar across the top for all the pages Sign up, Browse options %>

<h1>Welcome to our app</h1>

<h1>Sign In</h1>
<% # Render a form here? Partial? %>
<% # Redirects to '/dashboard' %>

<h1>Sign Up</h1>
<% # Redirect to 'users/new' %>

<h1>Browse</h1>
<% # Redirect to '/browse' %>
